* {
  box-sizing: border-box;
}

ul,
ol {
  text-decoration: none;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 24px 156px;
  margin: 0;
  gap: 24px 24px;
  justify-content: center;
}

.gallery li {
  flex: 0 0 auto;
}

.gallery img {
  display: block;
  min-width: 360px;
  height: 200px;
  object-fit: cover;
}
